	 body {
		font-family: Arial, Helvetica, sans-serif;
		box-sizing: border-box;
		font-size: 14px;
		background-color: #FFF;
	}	
	#content-title {
		margin-top: 10px;
	}
	.content {
		margin-top: 20px;
		margin: 5px;
		padding-bottom: 10px;		
	}	
	.section-content {
		margin-top: 20px;
		padding: 30px 30px;
		height: 800px;
		background-color: #CCDEEE;
	}
	.container-fluid {
		padding-top: 40px;
		padding-left: 30px;
		padding-right: 30px;
		margin-right: 30px;
		margin-left: 30px;	
		margin-bottom: 100px;	
	}

	/*  HEADER NAV */

	#header-nav {
		background-color: #CCDDEE;
		border-radius: 0;
		height: 100px;
		position: fixed-top;
		margin-left: 0;
	}	
	.navbar-brand h1 { /* Food LLC */
 		font-family: Arial, Helvetica, sans-serif;
  		color: #890585;
  		font-size: 1.9em;
  		text-transform: uppercase;
  		font-weight: bold;
  		margin-top: 5px;
  	}
	#nav-list li {
		background-color: #A1A3A2;
		color: white;
		fong-weight: bold;
	}
	#nav-list li:hover {
		background-color: #CCe6FF;
	}
	.navbar-header button.navbar-toggle, .navbar-toggle .icon-bar {
		border: 1px solid gray;
	}	
	.navbar-header button.navbar-toggle {
		clear: both;
		margin-top: 1px;
	}
	.button.navbar-toggle {
		background-color: #B2B7B5
	}

 	/** END HEADER **/

		

	/*** Large devices ***/
	@media (min-width: 1200px) {
		float: left;
	}


/*** Medium Devices ***/

	@media (min-width: 992px) and (max-width: 1199px) {
	    float: left;	    
	  }

/*  Small Devices **/	  
	 @media (max-width: 768px) and (max-width: 991px) {
	 	float: left;	 	
	 }
	
/** Extra Small devices **/
	@media (max-width: 767) {

		float: left;

		.navbar-brand {
			padding-top: 10px;
			height: 100px;
		}
		
			
	}

